body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1087px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3954 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:51px;
  width:1075px;
  height:358px;
}
#u3955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:42px;
}
#u3955 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3955_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:148px;
  word-wrap:break-word;
}
#u3956_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:42px;
}
#u3956 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:0px;
  width:215px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3956_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:211px;
  word-wrap:break-word;
}
#u3957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:42px;
}
#u3957 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:0px;
  width:231px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3957_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:227px;
  word-wrap:break-word;
}
#u3958_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:42px;
}
#u3958 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:0px;
  width:221px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3958_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:217px;
  word-wrap:break-word;
}
#u3959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:42px;
}
#u3959 {
  border-width:0px;
  position:absolute;
  left:819px;
  top:0px;
  width:256px;
  height:42px;
}
#u3959_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:252px;
  word-wrap:break-word;
}
#u3959_ann {
  border-width:0px;
  position:absolute;
  left:1061px;
  top:0px;
  width:1px;
  height:1px;
}
#u3960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:52px;
}
#u3960 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:42px;
  width:152px;
  height:52px;
}
#u3960_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:14px;
  width:140px;
  word-wrap:break-word;
}
#u3962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:52px;
}
#u3962 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:42px;
  width:215px;
  height:52px;
  color:#000000;
}
#u3962_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:18px;
  width:203px;
  word-wrap:break-word;
}
#u3963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:52px;
}
#u3963 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:42px;
  width:231px;
  height:52px;
}
#u3963_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:227px;
  word-wrap:break-word;
}
#u3964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:52px;
}
#u3964 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:42px;
  width:221px;
  height:52px;
}
#u3964_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:217px;
  word-wrap:break-word;
}
#u3965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:52px;
}
#u3965 {
  border-width:0px;
  position:absolute;
  left:819px;
  top:42px;
  width:256px;
  height:52px;
}
#u3965_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:252px;
  word-wrap:break-word;
}
#u3965_ann {
  border-width:0px;
  position:absolute;
  left:1061px;
  top:42px;
  width:1px;
  height:1px;
}
#u3966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:44px;
}
#u3966 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:94px;
  width:152px;
  height:44px;
}
#u3966_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:148px;
  word-wrap:break-word;
}
#u3967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:44px;
}
#u3967 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:94px;
  width:215px;
  height:44px;
  color:#000000;
}
#u3967_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:14px;
  width:203px;
  word-wrap:break-word;
}
#u3968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:44px;
}
#u3968 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:94px;
  width:231px;
  height:44px;
}
#u3968_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:227px;
  word-wrap:break-word;
}
#u3969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:44px;
}
#u3969 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:94px;
  width:221px;
  height:44px;
}
#u3969_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:217px;
  word-wrap:break-word;
}
#u3970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:44px;
}
#u3970 {
  border-width:0px;
  position:absolute;
  left:819px;
  top:94px;
  width:256px;
  height:44px;
}
#u3970_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:252px;
  word-wrap:break-word;
}
#u3971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:44px;
}
#u3971 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:138px;
  width:152px;
  height:44px;
  color:#000000;
}
#u3971_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:148px;
  word-wrap:break-word;
}
#u3972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:44px;
}
#u3972 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:138px;
  width:215px;
  height:44px;
  color:#000000;
}
#u3972_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:14px;
  width:203px;
  word-wrap:break-word;
}
#u3973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:44px;
}
#u3973 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:138px;
  width:231px;
  height:44px;
}
#u3973_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:227px;
  word-wrap:break-word;
}
#u3974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:44px;
}
#u3974 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:138px;
  width:221px;
  height:44px;
}
#u3974_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:217px;
  word-wrap:break-word;
}
#u3975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:44px;
}
#u3975 {
  border-width:0px;
  position:absolute;
  left:819px;
  top:138px;
  width:256px;
  height:44px;
}
#u3975_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:252px;
  word-wrap:break-word;
}
#u3976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:44px;
}
#u3976 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:182px;
  width:152px;
  height:44px;
  color:#000000;
}
#u3976_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:148px;
  word-wrap:break-word;
}
#u3977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:44px;
}
#u3977 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:182px;
  width:215px;
  height:44px;
  color:#000000;
}
#u3977_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:211px;
  word-wrap:break-word;
}
#u3978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:44px;
}
#u3978 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:182px;
  width:231px;
  height:44px;
}
#u3978_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:227px;
  word-wrap:break-word;
}
#u3979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:44px;
}
#u3979 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:182px;
  width:221px;
  height:44px;
}
#u3979_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:217px;
  word-wrap:break-word;
}
#u3980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:44px;
}
#u3980 {
  border-width:0px;
  position:absolute;
  left:819px;
  top:182px;
  width:256px;
  height:44px;
}
#u3980_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:252px;
  word-wrap:break-word;
}
#u3981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:44px;
}
#u3981 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:226px;
  width:152px;
  height:44px;
  color:#000000;
}
#u3981_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:148px;
  word-wrap:break-word;
}
#u3982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:44px;
}
#u3982 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:226px;
  width:215px;
  height:44px;
  color:#000000;
}
#u3982_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:211px;
  word-wrap:break-word;
}
#u3983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:44px;
}
#u3983 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:226px;
  width:231px;
  height:44px;
}
#u3983_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:227px;
  word-wrap:break-word;
}
#u3984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:44px;
}
#u3984 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:226px;
  width:221px;
  height:44px;
}
#u3984_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:217px;
  word-wrap:break-word;
}
#u3985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:44px;
}
#u3985 {
  border-width:0px;
  position:absolute;
  left:819px;
  top:226px;
  width:256px;
  height:44px;
}
#u3985_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:252px;
  word-wrap:break-word;
}
#u3986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:44px;
}
#u3986 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:270px;
  width:152px;
  height:44px;
  color:#000000;
}
#u3986_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:148px;
  word-wrap:break-word;
}
#u3987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:44px;
}
#u3987 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:270px;
  width:215px;
  height:44px;
  color:#000000;
}
#u3987_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:211px;
  word-wrap:break-word;
}
#u3988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:44px;
}
#u3988 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:270px;
  width:231px;
  height:44px;
}
#u3988_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:227px;
  word-wrap:break-word;
}
#u3989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:44px;
}
#u3989 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:270px;
  width:221px;
  height:44px;
}
#u3989_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:217px;
  word-wrap:break-word;
}
#u3990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:44px;
}
#u3990 {
  border-width:0px;
  position:absolute;
  left:819px;
  top:270px;
  width:256px;
  height:44px;
}
#u3990_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:252px;
  word-wrap:break-word;
}
#u3991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:44px;
}
#u3991 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:314px;
  width:152px;
  height:44px;
  color:#000000;
}
#u3991_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:148px;
  word-wrap:break-word;
}
#u3992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:44px;
}
#u3992 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:314px;
  width:215px;
  height:44px;
  color:#000000;
}
#u3992_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:211px;
  word-wrap:break-word;
}
#u3993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:44px;
}
#u3993 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:314px;
  width:231px;
  height:44px;
}
#u3993_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:227px;
  word-wrap:break-word;
}
#u3994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:44px;
}
#u3994 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:314px;
  width:221px;
  height:44px;
}
#u3994_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:217px;
  word-wrap:break-word;
}
#u3995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:44px;
}
#u3995 {
  border-width:0px;
  position:absolute;
  left:819px;
  top:314px;
  width:256px;
  height:44px;
}
#u3995_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:252px;
  word-wrap:break-word;
}
#u3996_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3996 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:19px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3996_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u3997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3997 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:24px;
  width:404px;
  height:17px;
}
#u3997_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  white-space:nowrap;
}
