body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1083px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3349_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3349 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:71px;
  height:17px;
}
#u3349_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3350_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3350 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:12px;
  width:71px;
  height:17px;
}
#u3350_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3351 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:10px;
  width:158px;
  height:22px;
}
#u3351_input {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3351_input:disabled {
  color:grayText;
}
#u3351_ann {
  border-width:0px;
  position:absolute;
  left:222px;
  top:6px;
  width:1px;
  height:1px;
}
#u3352 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:10px;
  width:158px;
  height:22px;
}
#u3352_input {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3352_input:disabled {
  color:grayText;
}
#u3352_ann {
  border-width:0px;
  position:absolute;
  left:553px;
  top:6px;
  width:1px;
  height:1px;
}
#u3353_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:32px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3353 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:265px;
  width:66px;
  height:32px;
  font-size:12px;
}
#u3353_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:62px;
  word-wrap:break-word;
}
#u3354_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3354 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:158px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3354_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u3355_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3355 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:158px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3355_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u3356_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3356 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:260px;
  width:84px;
  height:42px;
  font-size:12px;
}
#u3356_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:80px;
  word-wrap:break-word;
}
#u3357_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3357 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:260px;
  width:84px;
  height:42px;
  font-size:12px;
}
#u3357_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:80px;
  word-wrap:break-word;
}
#u3358_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3358 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:260px;
  width:84px;
  height:42px;
  font-size:12px;
}
#u3358_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:80px;
  word-wrap:break-word;
}
#u3359_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3359 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:260px;
  width:84px;
  height:42px;
  font-size:12px;
}
#u3359_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:80px;
  word-wrap:break-word;
}
#u3360_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3360 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:260px;
  width:84px;
  height:42px;
  font-size:12px;
}
#u3360_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  word-wrap:break-word;
}
#u3361_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3361 {
  border-width:0px;
  position:absolute;
  left:712px;
  top:260px;
  width:84px;
  height:42px;
  font-size:12px;
}
#u3361_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  word-wrap:break-word;
}
#u3362_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3362 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:318px;
  width:84px;
  height:42px;
  font-size:12px;
}
#u3362_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:80px;
  word-wrap:break-word;
}
#u3363_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3363 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:318px;
  width:84px;
  height:42px;
  font-size:12px;
}
#u3363_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:80px;
  word-wrap:break-word;
}
#u3364 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:281px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u3364_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:42px;
  height:8px;
}
#u3364_seg1 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3364_text {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3365 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:282px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u3365_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:31px;
  height:8px;
}
#u3365_seg1 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3365_text {
  border-width:0px;
  position:absolute;
  left:-36px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3366 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:282px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u3366_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:25px;
  height:8px;
}
#u3366_seg1 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3366_text {
  border-width:0px;
  position:absolute;
  left:-40px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3367 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:282px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u3367_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:34px;
  height:8px;
}
#u3367_seg1 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3367_text {
  border-width:0px;
  position:absolute;
  left:-35px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3368 {
  border-width:0px;
  position:absolute;
  left:572px;
  top:281px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u3368_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:33px;
  height:8px;
}
#u3368_seg1 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3368_text {
  border-width:0px;
  position:absolute;
  left:-36px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3369 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:339px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u3369_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:31px;
  height:8px;
}
#u3369_seg1 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3369_text {
  border-width:0px;
  position:absolute;
  left:-36px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3370 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:297px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u3370_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u3370_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:38px;
  width:75px;
  height:8px;
}
#u3370_seg2 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:32px;
  width:20px;
  height:20px;
}
#u3370_text {
  border-width:0px;
  position:absolute;
  left:-36px;
  top:34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3371 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:339px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u3371_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:67px;
  height:8px;
}
#u3371_seg1 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-37px;
  width:8px;
  height:41px;
}
#u3371_seg2 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-42px;
  width:20px;
  height:20px;
}
#u3371_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3372 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:373px;
  width:84px;
  height:42px;
  font-size:12px;
}
#u3372_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:80px;
  word-wrap:break-word;
}
#u3373_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3373 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:373px;
  width:84px;
  height:42px;
  font-size:12px;
}
#u3373_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:80px;
  word-wrap:break-word;
}
#u3374 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:297px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u3374_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:101px;
}
#u3374_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:93px;
  width:75px;
  height:8px;
}
#u3374_seg2 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:87px;
  width:20px;
  height:20px;
}
#u3374_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:76px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3375 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:394px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u3375_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:31px;
  height:8px;
}
#u3375_seg1 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3375_text {
  border-width:0px;
  position:absolute;
  left:-36px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3376 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:394px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u3376_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:405px;
  height:8px;
}
#u3376_seg1 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:-92px;
  width:8px;
  height:96px;
}
#u3376_seg2 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:-97px;
  width:20px;
  height:20px;
}
#u3376_text {
  border-width:0px;
  position:absolute;
  left:196px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3377_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3377 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:0px;
  width:100px;
  height:42px;
}
#u3377_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u3378_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3378 {
  border-width:0px;
  position:absolute;
  left:741px;
  top:0px;
  width:100px;
  height:42px;
}
#u3378_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u3379_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3379 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:66px;
  width:316px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3379_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  white-space:nowrap;
}
#u3379_ann {
  border-width:0px;
  position:absolute;
  left:321px;
  top:62px;
  width:1px;
  height:1px;
}
#u3380_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:187px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3380 {
  border-width:0px;
  position:absolute;
  left:881px;
  top:10px;
  width:200px;
  height:187px;
}
#u3380_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:180px;
  word-wrap:break-word;
}
#u3381 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:38px;
  background:inherit;
  background-color:rgba(48, 49, 51, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u3382 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:207px;
  width:138px;
  height:38px;
  font-size:12px;
  color:#FFFFFF;
}
#u3382_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:134px;
  word-wrap:break-word;
}
#u3383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:6px;
}
#u3383 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:244px;
  width:10px;
  height:6px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-size:12px;
}
#u3383_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3384 {
  border-width:0px;
  position:absolute;
  left:685px;
  top:281px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u3384_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:31px;
  height:8px;
}
#u3384_seg1 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3384_text {
  border-width:0px;
  position:absolute;
  left:-36px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3385 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3386_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:34px;
  background:inherit;
  background-color:rgba(48, 49, 51, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u3386 {
  border-width:0px;
  position:absolute;
  left:811px;
  top:260px;
  width:103px;
  height:34px;
  font-size:10px;
  color:#FFFFFF;
}
#u3386_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:99px;
  word-wrap:break-word;
}
#u3387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:6px;
}
#u3387 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:274px;
  width:10px;
  height:6px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u3387_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3388 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3389_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:38px;
  background:inherit;
  background-color:rgba(48, 49, 51, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#FFFFFF;
}
#u3389 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:207px;
  width:138px;
  height:38px;
  font-size:11px;
  color:#FFFFFF;
}
#u3389_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:134px;
  word-wrap:break-word;
}
#u3390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:6px;
}
#u3390 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:244px;
  width:10px;
  height:6px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-size:11px;
}
#u3390_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u3391 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:207px;
  width:24px;
  height:24px;
}
#u3391_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u3392 {
  border-width:0px;
  position:absolute;
  left:848px;
  top:217px;
  width:24px;
  height:24px;
}
#u3392_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3393 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:207px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u3393_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-21px;
  width:8px;
  height:21px;
}
#u3393_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-21px;
  width:705px;
  height:8px;
}
#u3393_seg2 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:-21px;
  width:8px;
  height:31px;
}
#u3393_seg3 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-15px;
  width:20px;
  height:20px;
}
#u3393_seg4 {
  border-width:0px;
  position:absolute;
  left:687px;
  top:-5px;
  width:20px;
  height:20px;
}
#u3393_text {
  border-width:0px;
  position:absolute;
  left:304px;
  top:-25px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3394_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3394 {
  border-width:0px;
  position:absolute;
  left:893px;
  top:318px;
  width:190px;
  height:76px;
}
#u3394_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:170px;
  word-wrap:break-word;
}
#u3395_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
  background:inherit;
  background-color:rgba(245, 108, 108, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#FFFFFF;
}
#u3395 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:370px;
  width:10px;
  height:10px;
  font-size:11px;
  color:#FFFFFF;
}
#u3395_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
